.logo-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.logo-loader-img {
  width: 240px;
  height: 240px;
  animation: classyLogoLoaderRotate 1.6s linear infinite;
  opacity: 0.92;
  will-change: transform, filter, opacity;
  transition: filter 0.3s;
}

@keyframes classyLogoLoaderRotate {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.9;
  }
}

@media (max-width: 600px) {
  .logo-loader-img {
    width: 120px;
    height: 120px;
  }
}